*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
container-background-#864000
button,h3, h4- #d44000
 h1,h2 -#ff7a00
text-color -#ffefcf 
*/

body{
    font-family:Raleway, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color:#ff7a00;
    background:#d44000 ; 
    background-image: linear-gradient(rgba(134, 64, 0, 0.7),rgba(154, 64, 20, 0.7)),
      url(https://thumbs.dreamstime.com/b/african-university-students-group-happy-looking-camera-52803479.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    background-color: #864000 ;
    margin: 40px auto;
    width: 70%;
    padding: 30px;
    border-radius: 10px;

}
h2{
    font-size: 40px;
    color: #d44000;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px;

}
h4{
    color: #ff7a00 ;
    font-size: 25px;
    margin: 10px;

}
form{
    padding: 10px;
    width: 95%;
}


.input-group{
    margin-bottom: 30px;


}
.input-box{
    width: 100%;
}

.input-profile{
  color: #ff7a00;
}

.fa {
  color: #ff7a00;

}
input{
    margin: 20px;

}

input[type="text"] ,
input[type="email"], 
input[type="tel"],
select,button  {
  font-family: inherit;
  font-size: 15px;
  color: inherit;
  width: 90%;
  padding: 10px;
  border: 1px solid #ff7a00;
  border-radius: 5px;
  }

input[type="radio"] {
   min-height: 20px;
   min-width: 20px;
  color: #ff7a00;

  }
  
  .date-select{
      display: flex;
      margin-left: 20px;
  }

  
  .button{
      text-align: center;
  }
  button{
    background-color: #d44000;
    color: #fff;
    border: 1px solid #fff;
    width: 50%;
    padding: 10px 15px;

  }
  button:hover{
    background-color:#Fff ;
    color: #d44000;
  }
  